In [1]:
# AR: Autoregression. A model that uses the dependent relationship between an observation and some number of lagged observations.
# I: Integrated. The use of differencing of raw observations (e.g. subtracting an observation from an observation at the previous time step) in order to make the time series stationary.
# MA: Moving Average. A model that uses the dependency between an observation and a residual error from a moving average model applied to lagged observations.

In [2]:
# p: The number of lag observations included in the model, also called the lag order.
# d: The number of times that the raw observations are differenced, also called the degree of differencing.
# q: The size of the moving average window, also called the order of moving average.

In [3]:
import pandas as pd
from matplotlib import pyplot

def parser(x):
    return pd.to_datetime('190'+x, '%Y-%m')
series = pd.read_csv('shampoo_sales.csv')
series.head()

  Month  Sales
0  1-01  266.0
1  1-02  145.9
2  1-03  183.1
3  1-04  119.3
4  1-05  180.3

In [4]:
series.Month = '190' + series.Month
series.Month.head()

0    1901-01
1    1901-02
2    1901-03
3    1901-04
4    1901-05
Name: Month, dtype: object

In [5]:
series.Month = pd.to_datetime(series.Month, format = '%Y-%m')

In [6]:
series.head()

       Month  Sales
0 1901-01-01  266.0
1 1901-02-01  145.9
2 1901-03-01  183.1
3 1901-04-01  119.3
4 1901-05-01  180.3

In [7]:
series.set_index('Month', inplace=True)